<! –– use extends to use base.html for a universal code to limit repeats. ––>
<! –– block content is use to specify what part of the code is being extended using base.html -->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="Post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Reset Password</legend>
         <!-- {{ form.as_p }}  render for a paragraph in views -->
          {{ form|crispy }} <!-- uses a crispy form to style the form views -->
        </fieldset>
        <div class="form-group">
          <button class="btn btn_outline_info" type="submit">Request Password Reset</button>
        </div>
      </form>
    </div>
{% endblock content %}